<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="{% url 'thirdapp:index' %}">Index</a></li>
      <li><a href="{% url 'thirdapp:register' %}">Register</a></li>
        {% if user.is_authenticated %}
      <li><a href="{% url 'thirdapp:Logout' %}">LogOut</a></li>
            <li><a href="{% url 'thirdapp:user_detail' %}">User_Detail</a></li>
        {% else %}
        <li><a href="{% url 'thirdapp:Login' %}">Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>


{% block body_block %}
{% endblock %}

</body>
</html>